$primary-color: #0b4c84;
$secondary-color: #598EC2;
$bg-blue: #4272d7;
$bg-color: #eaeaea;
$bg-white: white;
$bg-light-gray: #d3d3d3;
$bg-gray: #8c95a1;
$bg-light-grayy: rgba(183, 183, 183, 0.2);
$bg-dark: #091D36;
$bg-hover-btn: #3C8CA7;


$text-white: white;
$text-white-opacity: rgba(255, 255, 255, 0.6);
$text-gray: #8c95a1;
$text-blue: #0b4c84;
$text-dark-blue: #091D36;
$text-dark: #1d1d26;
$text-mid-gray: #596573;