header {
  width: 100%;
  min-height: 103px;
  background-color: transparent;
  position: fixed;
  z-index: 10;
  @include flexCenter;
  z-index: 12000;


  .container-div {
    .menu {
      @include flexBetween;

      .header-left {
        a {
          img {
            width: 110px;
          }
        }
      }

      nav {
        ul {
          @include flexBetween;
          column-gap: 22px;
          padding-left: 0px;

          li {
            color: $text-white;

            a {
              color: $text-white;
              font-weight: bold;

            }

            &:hover {
              a {
                opacity: 0.7;

              }
            }
          }

          .tours {

            position: relative;
            // transition: 0.4s;
            font-weight: bold;
            color: $text-white;

            .dropdown-tours {
              width: 160px;
              position: absolute;
              background-color: $bg-white;
              border-radius: 7px;
              transition: 0.4s;
              display: none;

              ul {
                width: 100%;
                @include flexColumn;

                li {
                  padding: 10px 20px;
                  width: 100%;
                  transition: 0.4s;

                  a {
                    font-size: 16px;
                    color: black;
                    font-weight: bold;
                  }

                  &:hover {
                    background-color: $bg-color;
                    border-radius: 7px;

                    a {
                      opacity: 0.7;
                    }

                  }
                }

                .foreign-tours {
                  .dropdown-sec {
                    min-width: 180px;
                    width: 100%;
                    position: absolute;
                    z-index: 1;
                    top: -45px;
                    left: 160px;
                    background-color: $bg-white;
                    border-radius: 7px;
                    // transition: 0.4s;
                    display: none;

                    // ul {
                    //   li {
                    //     transition: 0.4s;

                    //     &:hover {
                    //       a {
                    //         opacity: 0.6;
                    //       }
                    //     }
                    //   }
                    // }
                  }

                  &:hover {
                    .dropdown-sec {
                      display: block;
                    }
                  }
                }
              }
            }

            &:hover {
              .dropdown-tours {
                display: block;
              }
            }
          }
        }
      }

      .header-right {
        @include flexBetween;
        column-gap: 20px;

        .lang {
          position: relative;

          #lang-icon {
            font-size: 18px;
            color: $text-white;
            cursor: pointer;
          }

          #langs {
            background-color: $bg-white;
            @include flexCenter;
            position: absolute;
            top: 21px;
            right: -30px;
            border-radius: 10px;
            height: 0;
            overflow: hidden;
            transition: height 0.5s ease;
            padding: 0px;

            ul {
              padding: 0px 0px;


              li {
                display: flex;
                gap: 5px;
                padding: 6px 12px 6px 12px;

                a {
                  color: black;
                  font-weight: 600;
                }

                img {
                  width: 20px;
                  height: 20px;
                  font-size: 13px;
                }
              }
            }

            &.open {
              padding-top: 10px;
              height: 115px;
              @include flexCenter;

            }
          }




        }

        a {
          font-size: 16px;
          color: $text-white;

        }

        #price-btn {
          min-width: 194px;
          color: $text-white;
          height: 43px;
          font-size: 16px;
          padding: 9px 34px;
          border-radius: 56px;
          background-color: $primary-color;
          font-weight: bold;
          animation: showBtn 0.7s infinite ease;

          &:hover {
            background-color: $bg-white;
            border: 1px solid $primary-color;
            color: $primary-color;
          }

          @keyframes showBtn {
            0% {
              box-shadow: 0 0 0 0 rgba(11, 76, 132, 0.2);
            }

            100% {
              box-shadow: 0 0 0 15px rgba(11, 76, 132, 0.25);
            }
          }
        }

        #bars {
          color: $text-white;
          font-size: 24px;
          display: none;
          cursor: pointer;
        }
      }
    }

  }

  #res-menu {
    width: 100%;
    height: 100vh;
    background-color: $primary-color;
    display: none;
    position: absolute;
    text-align: center;
    top: 0px;
    left: 0px;
    padding: 40px;
    transition: 2s;

    #close {
      display: inline-flex;
      width: 40px;
      height: 40px;
      justify-content: center;
      align-items: center;
      background: $bg-light-grayy;
      border-radius: 50%;
      @include flexCenter;
      margin: 0px 0px 0px auto;
      cursor: pointer;

      i {
        position: absolute;
        color: $text-white;
        z-index: 3;
        font-size: 25px;
      }
    }

    ul {

      text-align: center;
      line-height: 2.5rem;
      padding-left: 0px;

      li {
        .toggle-icon {
          transition: 0.5s;
        }

        a {
          color: $text-white;
          font-size: 20px;
          font-weight: bold;
        }
      }

      .dropdown-item {
        a {
          color: $text-white;
        }
      }

      #submenu {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
        list-style: none;
        padding-left: 15px;
        color: $text-white;
      }

      .open {
        max-height: 500px;
      }

    }

    #res-btn {
      display: inline-block;
      margin: auto;
      letter-spacing: 1px;
      transition: 0.3s;
      background-color: $bg-white;
      color: $primary-color;
      padding: 9px 34px;
      border-radius: 30px;
      font-weight: bolder;

      &:hover {
        transform: scale(0.98);
      }
    }
  }

}

.scrolled {
  transition: 0.5s;
  background-color: $bg-white;
  box-shadow: 0 0 10px gray;

  .container-div {
    .menu {
      nav {
        ul {
          li {
            a {
              color: $text-dark-blue;
            }
          }

          .tours {
            color: $text-dark-blue;
          }
        }
      }

      .header-right {
        .lang {
          #lang-icon {
            color: $text-dark-blue;
          }
        }

        a {
          color: $text-dark-blue;
        }

        #bars {
          color: $text-dark-blue;
        }


      }
    }
  }

}




@media (max-width:768px) {
  header {
    .container-div {
      .menu {
        @include flexBetween;

        nav {
          display: none;
        }

        .header-right {


          a {
            font-size: 13px;

          }

          #price-btn {
            display: none;
          }

          #bars {
            display: block;
          }
        }
      }
    }

    #res-menu {

      nav {
        ul {
          li {
            line-height: 3rem;

            a {
              font-size: 30px;
              font-weight: 800;
            }
          }
        }
      }

    }
  }

}

@media (min-width:768px) and (max-width:1300px) {
  header {
    .container-div {
      .menu {
        nav {
          display: none;
        }

        .header-right {
          #bars {
            display: block;
          }
        }
      }
    }
  }
}