<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
        integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/assets/scss/css/main.css">
    <script type="module" src="/js/main.js"></script>

</head>

<body>
    <header id="header">
        <div class="container-div">
            <div class="menu">
                <div class="header-left">
                    <a href="/"><img src="https://azeturizm.az/img/logo-azeturizm.png" alt="logo"></a>
                </div>
                <nav>
                    <ul>
                        <li><a href="/pages/about.html">Şirkət haqqında</a></li>
                        <li><a href="/pages/services.html">Xidmətlər</a></li>
                        <li class="tours"><a href="/pages/tours.html">Turlar</a>
                            <div class="dropdown-tours">
                                <ul>
                                    <li class="foreign-tours"><a href="">Xarici turlar</a>
                                        <div class="dropdown-sec">
                                            <ul>
                                                <li><a href="">Avropa turları</a></li>
                                                <li><a href="">Amerika turları</a></li>
                                                <li><a href="">Asiya turları</a></li>
                                                <li><a href="">Rusiya turları</a></li>
                                                <li><a href="">Türkiyə turları</a></li>
                                            </ul>
                                        </div>

                                    </li>
                                    <li><a href="">Daxili turlar</a></li>
                                    <li><a href="">Qrup turları</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="/pages/partners.html">Partnyorlar</a></li>
                        <li><a href="/pages/blog.html">Bloq</a></li>
                        <li><a href="/pages/contact.html">Əlaqə</a></li>
                    </ul>
                </nav>
                <div class="header-right">
                    <div class="lang">
                        <i id="lang-icon" class="fa-solid fa-earth-europe"></i>
                        <div id="langs">
                            <ul>
                                <li>
                                    <img src="https://azeturizm.az/img/aze.jpg" alt="err">
                                    <a href="">AZE</a>
                                </li>
                                <li>
                                    <img src="https://azeturizm.az/img/eng.jpg" alt="err">
                                    <a href="">ENG</a>
                                </li>
                                <li>
                                    <img src="https://azeturizm.az/img/rus.png" alt="err">
                                    <a href="">RU</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="" class="phone">
                        <i class="fa-solid fa-phone"></i>
                        <span> (+99450) 210 95 57</span>
                    </a>


                    <button type="button" id="price-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Qiymət təklifi al
                    </button>

                    <i id="bars" class="fa-solid fa-bars"></i>


                </div>
            </div>


        </div>
        <div id="res-menu">
            <div id="close">
                <i class="fa-solid fa-xmark"></i>
            </div>
            <ul>
                <li><a href="/pages/about.html">Şirkət haqqında</i></a></li>
                <li><a href="/pages/services.html">Xidmətlər</a></li>
                <li class="dropdown-item">
                    <a href="/pages/tours.html" id="toggle-link">Turlar <i
                            class="fa-solid fa-chevron-down toggle-icon"></i> </a>

                    <ul id="submenu">
                        <li><a href="">Xarici turlar</a></li>
                        <li><a href="">Daxili turlar</a></li>
                        <li><a href="">Qrup turları</a></li>
                    </ul>
                </li>
                <li><a href="/pages/partners.html">Partnyorlar</a></li>
                <li><a href="/pages/blog.html">Bloq</a></li>
                <li><a href="/pages/contact.html">Əlaqə</a></li>
            </ul>

        </div>

    </header>



    <div class="modal fade" id="exampleModal" tabindex="1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Qiymət təklifi al</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <label for="name"></label>
                        <input type="text" id="name" placeholder="Ad, soyad" required>

                        <label for="phone"></label>
                        <input type="text" id="phone" placeholder="Nömrəniz" required>

                        <label for="company"></label>
                        <input type="text" id="company" placeholder="Təşkil etdiyiniz şirkət">

                        <label for="notes"></label>
                        <textarea id="notes" placeholder="Qeydləriniz"></textarea>

                        <button class="send-btn">Göndər</button>
                    </form>

                </div>

            </div>
        </div>
    </div>

    <section id="one">
        <div class="container-div">
            <div class="content">
                <div class="content-info">
                    <h1>Müalicəvi xassəsinə görə dünyada yeganə olan Naftalan nefti</h1>
                </div>
                <div class="content-location">
                    <a href="/" class="back">
                        <div class="arrow">
                            <i class="fa-solid fa-angle-left"></i>
                        </div>
                        <span>Geriyə qayıt</span>
                    </a>
                    <div class="locatian-addres">
                        <a href="/" class="home-page">Ana Səhifə  </a>
                        <a href="../blog.html" class="home-page">/ Blog </a>
                        <a href="" class="current-page"> / Müalicəvi xassəsinə görə dünyada yeganə
                            olan Naftalan nefti</a>
                    </div>
                </div>


            </div>
        </div>
    </section>


    <section class="blog-detail">
        <div class="container-div">
            <img src="https://azeturizm.az/uploads/posts/2023-11/1699362877_naftalan.jpeg" alt="err">
            <br>
            <div class="inner-page">
                <h1>Müalicəvi xassəsinə görə dünyada yeganə olan Naftalan nefti</h1>
                <br>
                <p>Müalicəvi xassəsinə görə dünyada yeganə olan Naftalan nefti fiziki-kimyəvi xassəsinə görə başqa
                    neftlərdən
                    fərqlənir. Bu neft üçün əsas xarakterik cəhət tərkibində yüngül fraksiyanın və bərk parafin
                    karbohidrogenlərin olmamasıdır. Başlanğıo qaynama temperaturu yüksək olduğundan (190-220 C), bu
                    neftdə
                    benzin fraksiyası da olmur.</p>
                <br>
                <p>Tərkibində kifayət miqdarda qətran (14% ) olması və su ilə möhkəm emulsiya əmələ gətirməsi Naftalan
                    neftini
                    başqa neftlərdən fərqləndirir.</p>
                <br>
                <p>Hələ 1946-cı ildə akademik Y.Məmmədəliyev Naftalan neftinin öyrənilməsi sahəsində apardığı nəticələri
                    ümumiləşdirərək qeyd etmişdir ki, müxtəlif laylardan və horizontlardan çıxarılan neftlər
                    bir-birindən
                    kəskin
                    fərqlənir; hətta eyni quyudan müxtəlif vaxtlarda çıxarılan neftlərin biri digərindən qismən də olsa
                    fərqlənir.</p>
                <br>
                <p>Hələ qədimdən indiyə kimi saysız-hesabsız xəstə bu neftin şəfaverici keyfiyyətindən bəhrələnmişdir.
                    70-dən
                    çox xəstəliyə dərman olan bu neft vannalara doldurulur. Xəstələr neft vannası qəbul edərək müalicə
                    olunurlar. Elə buna görə respublikamızın şəhər və rayonlarından hər il çoxlu sayda xəstə bura pənah
                    gətirir.
                    Sümük-oynaq, sinir-əzələ, dəri, ginekoloji, uroloji xəstəliklərə tutulanlar Naftalan müalicəsini
                    qəbul
                    edirlər. Bu xəstəliklərin siyahını uzatmaq da olar. Bütün bu müalicəvi xüsusiyyətlərinə baxmayaraq,
                    Naftalan
                    neftindən düzgün istifadə etmədikdə zərər görmək olar. Çünki bəzi ciddi xəstəliyi olanlar üçün bu
                    vannaların
                    qəbulu əks göstəricidir. Odur ki, tam, dəqiq həkim müayinəsindən keçmədən, Naftalan vannası qəbul
                    etmək
                    məsləhət görülmür.</p>
                <br>
                <p>Naftalan nefti–qəhvəyi qonur rəngli, xüsusi aromatik qoxuya malik, yüksək özlülüyə və xüsusi çəkiyə
                    malik
                    mayedir. Naftalan neftinin xüsusi çəkisi 0,92 - 0,96, qaynama temperaturu 220 0C, donma temperaturu
                    (-20
                    0C)
                    dir, su ilə qarışdırıldıqda davamlı emulsiya əmələ gətirir. Naftalan mürəkkəb fiziki –kimyəvi
                    tərkibə
                    malik
                    olub, qətranlı, az kükürdlü, parafinsiz neft məhsuludur və tərkibində sənaye neftlərindən fərqli
                    olaraq
                    benzin, kerosin, liqroin kimi yüngül fraksiyalar yoxdur.</p>
                <p>Naftalanın tərkibi:</p>
                <br>
                <p>1. Naften karbohidrogrnləri - 50-55%</p>
                <br>
                <p>2. Aromatik karbohidrogenlər - 10-15%</p>
                <br>
                <p>3. Qətranlı maddələr - 14-15%</p>
                <br>
                <p>4. Naften turşuları - 0,5-3%</p>
                <br>
                <p>5. Kükürdlü birləşmələr - 0,3- 0,7%</p>
                <br>
                <p>6. Azotlu birləşmələr - 0,3%</p>
                <br>
                <p>7. Mikroelementlər (Y, Br , Cu , Mn , Zn , Li, B və s.) dən ibarətdir .</p>
                <br>
                <p>Naftalan nefti Naftalanın əsas müalicəvi komponentləri onun tərkibinin əsasını təşkil edən, yüksək
                    molekullu,
                    çoxhalqalı quruluşa malik (tsiklopentan-perhidrofenantren) naften karbohidrogenləridir. Bundan başqa
                    naftalanın tərkibində olan kükürdlü, azotlu birləşmələr və mikroelementlər də naftalanın müalcəvi
                    təsirində
                    əhəmiyyətli rol oynayır . Naftalan müalicə amili güclü iltihabəleyhi, ağrıkəsici, damargenəldici,
                    allergiyaəleyhi, hormonabənzər, maddələr mübadiləsini tənzimləyici təsirə malikdir, ovogenez və
                    ovulyasiya
                    proseslərini və spermatogenezi sürətləndirir. Naftalan neftinin bu xüsusiyyətləri mərkəzdə 70 – dən
                    artıq
                    xəstəliyi müalicə etməyə imkan yaradır.</p>
                <br>
                <p>Yodbromlu su:</p>
                <br>
                <p>Naftalan nefti yerdən çıxarkən 90% su və 10% naftalan neftindən ibarət olur. Naftalan nefti ilə
                    müalicə
                    edərkən isə su 10% naftalan 90% olur. Naftalanla birlikdə yerdən çıxan su çox zəngin tərkiblidir,
                    tərkibində
                    yod və bromdan başqa həm də naftalanın tərkibində olan çoxsaylı mikroelementlər olduğundan bir çox
                    xəstəliklərin müalicəsində uğurla tətbiq olunur</p>
            </div>
        </div>
    </section>


    <section class="price-quote">
        <div class="write">
            <h5>İndividual qiymət təklifinə ehtiyacınız var?</h5>
            <p>Formu doldurun və ən qısa zamanda nümayəndəmiz tərəfindən biznesinizə özəl individual təklifi əldə edin
            </p>
            <button type="button" class=" price-btnModal" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Qiymət təklifi al
            </button>


        </div>
    </section>


    <footer>
        <div class="container-div">
            <div class="upper-part">
                <div class="upper-part-one">
                    <a href="/"><img src="https://azeturizm.az/img/logo-azeturizm.png" alt="err"></a>
                    <div class="media">
                        <span>Sosial şəbəkələrdə biz</span>
                        <div class="media-icons">
                            <a href=""><i class="fa-brands fa-whatsapp"></i></a>
                            <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                            <a href=""><i class="fa-brands fa-instagram"></i></a>
                            <a href=""><i class="fa-brands fa-telegram"></i></a>
                        </div>
                    </div>
                    <div class="location">
                        <span>Baş ofisimiz</span>
                        <span>Dilarə Əliyeva Küçəsi 235A, Nəsimi r., Bakı, Azərbaycan -</span>
                        <a href="https://maps.app.goo.gl/urpRErADWhrh8f5s5">Xəritədə baxın</a>
                    </div>

                    <div class="make">
                        <span>Saytı hazırladı</span>
                        <a href="/"> <img src="https://okmedia.az/img-yeni/okmedialogo1.png" alt="err"></a>
                    </div>

                </div>
                <div class="upper-part-two">
                    <span>2007-ci ildə əsası qoyulan “NOBEL PRESTİGE” şirkəti olaraq fəaliyyətə başlamışdır. Hazırda
                        2017-ci ildən adı dəyişilərək "AZE TURİZM " şirkəti olaraq fəaliyyətinə davam edir. Azərbaycanda
                        turizmin inkişafına öz töhfəsini vermiş, bu sahədə tanınmış şirkətlərdən birinə çevrilmişdir.
                        Səfərlərin yüksək səviyyədə və büdcənizə uyğun şəkildə təşkil olunması əsas hədəflərimizdəndir.
                        Şirkətin əsas fəaliyyət sahələri: İstirahət, müalicə, biznes, mice turlar və s. daxil olmaqla
                        həm Outgoing (göndərmə), həm də Incoming (gəlmə) turizmi üzrə fəaliyyət göstərir. Outgoing üzrə
                        turirstlərimizin ən çox seçim etdiyi ölkələr sırasına Türkiyə, Dubay, Misir, Monteneqro və
                        Avropa ölkələri - Polşa, Estoniya, Fransa, Almaniya, Latviya, Ruminiya, Özbəkistan,
                        Türkmənistan, Qırğızıstan və s. ölkələrlə əməkdaşlıq edir və ölkəmizə turistlər cəlb
                        edir.</span>
                </div>
            </div>

            <div class="end">
                <span>Azeturizm LLC - 2024 Bütün hüquqlar qorunur.</span>
                <a href="#one">
                    <span>Yuxarı qalxmaq.</span>
                    <i class="fa-solid fa-arrow-up"></i>
                </a>
            </div>
        </div>
    </footer>

</body>

</html>