<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
        integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <link rel="stylesheet" href="/assets/scss/css/main.css">


</head>

<body>
    <header id="header">
        <div class="container-div">
            <div class="menu">
                <div class="header-left">
                    <a href="/"><img src="https://azeturizm.az/img/logo-azeturizm.png" alt="logo"></a>
                </div>
                <nav>
                    <ul>
                        <li><a href="/pages/about.html">Şirkət haqqında</a></li>
                        <li><a href="/pages/services.html">Xidmətlər</a></li>
                        <li class="tours">Turlar
                            <div class="dropdown-tours">
                                <ul>
                                    <li class="foreign-tours"><a href="/pages/foreignTours.html">Xarici turlar</a>
                                        <div class="dropdown-sec">
                                            <ul>
                                                <li><a href="/pages/components/foreignCountry.html">Avropa turları</a>
                                                </li>
                                                <li><a href="/pages/components/foreignCountry.html">Amerika turları</a>
                                                </li>
                                                <li><a href="/pages/components/foreignCountry.html">Asiya turları</a>
                                                </li>
                                                <li><a href="/pages/components/foreignCountry.html">Rusiya turları</a>
                                                </li>
                                                <li><a href="/pages/components/foreignCountry.html">Türkiyə turları</a>
                                                </li>
                                            </ul>
                                        </div>

                                    </li>
                                    <li><a href="/pages/internalTours.html">Daxili turlar</a></li>
                                    <li><a href="/pages/groupTours.html">Qrup turları</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="/pages/partners.html">Partnyorlar</a></li>
                        <li><a href="/pages/blog.html">Bloq</a></li>
                        <li><a href="/pages/contact.html">Əlaqə</a></li>
                    </ul>
                </nav>
                <div class="header-right">
                    <div class="lang">
                        <i id="lang-icon" class="fa-solid fa-earth-europe"></i>
                        <div id="langs">
                            <ul>
                                <li>
                                    <img src="https://azeturizm.az/img/aze.jpg" alt="err">
                                    <a href="">AZE</a>
                                </li>
                                <li>
                                    <img src="https://azeturizm.az/img/eng.jpg" alt="err">
                                    <a href="">ENG</a>
                                </li>
                                <li>
                                    <img src="https://azeturizm.az/img/rus.png" alt="err">
                                    <a href="">RU</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="" class="phone">
                        <i class="fa-solid fa-phone"></i>
                        <span> (+99450) 210 95 57</span>
                    </a>


                    <button type="button" id="price-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Qiymət təklifi al
                    </button>

                    <i id="bars" class="fa-solid fa-bars"></i>


                </div>
            </div>
        </div>

        <div id="res-menu">
            <div id="close">
                <i class="fa-solid fa-xmark"></i>
            </div>
            <ul>
                <li><a href="/pages/about.html">Şirkət haqqında</i></a></li>
                <li><a href="/pages/services.html">Xidmətlər</a></li>
                <li class="dropdown-item">
                    <a href="/pages/tours.html" id="toggle-link">Turlar <i
                            class="fa-solid fa-chevron-down toggle-icon"></i> </a>

                    <ul id="submenu">
                        <li><a href="/pages/foreignTours.html">Xarici turlar</a></li>
                        <li><a href="/pages/internalTours.html">Daxili turlar</a></li>
                        <li><a href="/pages/groupTours.html">Qrup turları</a></li>
                    </ul>
                </li>
                <li><a href="/pages/partners.html">Partnyorlar</a></li>
                <li><a href="/pages/blog.html">Bloq</a></li>
                <li><a href="/pages/contact.html">Əlaqə</a></li>
            </ul>

            <button type="button" id="res-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Qiymət təklifi al
            </button>

        </div>

    </header>

    <div class="modal fade" id="exampleModal" tabindex="1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Qiymət təklifi al</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <label for="name"></label>
                        <input type="text" id="name" placeholder="Ad, soyad" required>

                        <label for="phone"></label>
                        <input type="text" id="phone" placeholder="Nömrəniz" required>

                        <label for="company"></label>
                        <input type="text" id="company" placeholder="Təşkil etdiyiniz şirkət">

                        <label for="notes"></label>
                        <textarea id="notes" placeholder="Qeydləriniz"></textarea>

                        <button class="send-btn">Göndər</button>
                    </form>

                </div>

            </div>
        </div>
    </div>

    <section id="one">
        <div class="container-div">
            <div class="content">
                <div class="content-info">
                    <h1>Naxçıvan Turu</h1>
                </div>
                <div class="content-location">
                    <a href="/" class="back">
                        <div class="arrow">
                            <i class="fa-solid fa-angle-left"></i>
                        </div>
                        <span>Geriyə qayıt</span>
                    </a>
                    <div class="locatian-addres">
                        <a href="/" class="home-page">Ana Səhifə </a>
                        <a href="/pages/internalTours.html" class="current-page"> / Naxçıvan Turu</a>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <div class="internalDetail">
        <div class="container-div">
            <div class="detail">
                <div class="imgs-swiper">
                    <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
                        class="swiper mySwiper2">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img
                                    src="https://azeturizm.az/uploads/posts/2023-09/medium/1694900949_42246_6022361091177.jpg" />
                            </div>
                            <div class="swiper-slide">
                                <img src="https://azeturizm.az/uploads/posts/2023-09/medium/1694900921_mmin-xatn.jpg" />
                            </div>
                            <div class="swiper-slide">
                                <img src="https://azeturizm.az/uploads/posts/2023-09/medium/1694900941_naxcivann.jpg" />
                            </div>
                            <div class="swiper-slide">
                                <img
                                    src="https://azeturizm.az/uploads/posts/2023-09/medium/1694900912_img_8800-1.jpg" />
                            </div>
                            <div class="swiper-slide">
                                <img
                                    src="https://azeturizm.az/uploads/posts/2023-09/medium/1694900945_naxcivan-eshabi-kehf.jpg" />
                            </div>
                            <div class="swiper-slide">
                                <img
                                    src="https://azeturizm.az/uploads/posts/2023-09/medium/1694900957_naxcivan-ilandag.jpg" />
                            </div>
                        </div>
                        <div class="swiper-button-next"><i class="fa-solid fa-caret-right"></i></div>
                        <div class="swiper-button-prev"><i class="fa-solid fa-caret-left "></i></div>
                    </div>
                    <div thumbsSlider="" class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img
                                    src="https://azeturizm.az/uploads/posts/2023-09/medium/1694900949_42246_6022361091177.jpg" />
                            </div>
                            <div class="swiper-slide">
                                <img src="https://azeturizm.az/uploads/posts/2023-09/medium/1694900921_mmin-xatn.jpg" />
                            </div>
                            <div class="swiper-slide">
                                <img src="https://azeturizm.az/uploads/posts/2023-09/medium/1694900941_naxcivann.jpg" />
                            </div>
                            <div class="swiper-slide">
                                <img
                                    src="https://azeturizm.az/uploads/posts/2023-09/medium/1694900912_img_8800-1.jpg" />
                            </div>
                            <div class="swiper-slide">
                                <img
                                    src="https://azeturizm.az/uploads/posts/2023-09/medium/1694900945_naxcivan-eshabi-kehf.jpg" />
                            </div>
                            <div class="swiper-slide">
                                <img
                                    src="https://azeturizm.az/uploads/posts/2023-09/medium/1694900957_naxcivan-ilandag.jpg" />
                            </div>
                        </div>
                    </div>
                </div>


                <div class="info">
                    <table>
                        <tr>
                            <td>Aviabilet</td>
                            <td>VAR</td>
                        </tr>
                        <tr>
                            <td>20 kq baqaj </td>
                            <td>VAR</td>
                        </tr>
                        <tr>
                            <td>Otel</td>
                            <td>VAR</td>
                        </tr>
                        <tr>
                            <td>Qidalanma</td>
                            <td>VAR</td>
                        </tr>
                        <tr>
                            <td>Transfer</td>
                            <td>VAR</td>
                        </tr>
                    </table>

                    <div class="info-details">
                        <h6>Naxçıvan səyahəti və Əshabi Kəhf ziyarəti turu🕋✈</h6>
                        <h6>📚Əziz və dəyərli turistlər 📚</h6><br>
                        <h6>Tarix və Qiymət</h6>
                        <h6>- 1 günlük (179 azn) - Hər bazar günü</h6>
                        <h6>- 2 günlük (269 azn ) : 23 - 24 sentyabr ,30 sentyabr - 1 oktyabr , 7-8 ,14-15 ,
                            21-22 oktyabr</h6>
                        <h6>ℹ Son qeydiyyat günü (---)</h6><br>
                        <h6>✅ Qiymətə daxildir:⤵</h6>
                        <h6>✅ Naxçıvanda vip transfer</h6>
                        <h6>✅ Əshabi kəhfdə çay süfrəsi</h6>
                        <h6>✅ Oteldə gecələmə </h6>
                        <h6>✅ Oteldə səhər yeməyi </h6>
                        <h6>✅ Naxçıvanda qarşılanma və transfer</h6>
                        <h6>✅ Tur rəhbər</h6>
                        <h6>Gediləcək yerlər⤵</h6>
                        <h6>🔹Əshabi kəhf ziyarəti 🕋</h6>
                        <h6>🔹Mömünə xatun türbəsi</h6>
                        <h6>🔹Xan sarayı</h6>
                        <h6>🔹Möhtəşəm Duz dağı mağarası</h6>
                        <h6>🔹Nuh Peyğəmbərin qəbri höhnə qala</h6>
                        <h6>🔹Saat meydanı</h6>
                        <h6>Toplanış yeri Heydər Əliyev Hava limanı saat 05:00 Bakıdan uçuş saatı 07:00 da</h6>
                        <h6>Naxçıvandan dönüş tarixi və saatı: ... saat 21:30 da</h6>
                    </div>
                </div>

            </div>

            <div class="contact-info">
                <div class="whatsapp">
                    <a href="https://web.whatsapp.com/">
                        <button>
                            <i class="fa-brands fa-whatsapp"></i>
                            <span>Məlumat al</span>
                        </button>
                    </a>
                </div>

                <div class="hotel">
                    <a href="/pages/hotel.html">
                        <button>
                            Otellərə bax
                        </button>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <section class="price-quote">
        <div class="write">
            <h5>İndividual qiymət təklifinə ehtiyacınız var?</h5>
            <p>Formu doldurun və ən qısa zamanda nümayəndəmiz tərəfindən biznesinizə özəl individual təklifi əldə edin
            </p>
            <button type="button" class=" price-btnModal" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Qiymət təklifi al
            </button>
        </div>
    </section>



    <footer>
        <div class="container-div">
            <div class="upper-part">
                <div class="upper-part-one">
                    <a href="/"><img src="https://azeturizm.az/img/logo-azeturizm.png" alt="err"></a>
                    <div class="media">
                        <span>Sosial şəbəkələrdə biz</span>
                        <div class="media-icons">
                            <a href="https://web.whatsapp.com/"><i class="fa-brands fa-whatsapp"></i></a>
                            <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                            <a href="https://web.telegram.org/a/"><i class="fa-brands fa-telegram"></i></a>
                        </div>
                    </div>
                    <div class="location">
                        <span>Baş ofisimiz</span>
                        <span>Dilarə Əliyeva Küçəsi 235A, Nəsimi r., Bakı, Azərbaycan -</span>
                        <a href="https://maps.app.goo.gl/urpRErADWhrh8f5s5">Xəritədə baxın</a>
                    </div>

                    <div class="make">
                        <span>Saytı hazırladı</span>
                        <a href="/"> <img src="https://okmedia.az/img-yeni/okmedialogo1.png" alt="err"></a>
                    </div>

                </div>
                <div class="upper-part-two">
                    <span>2007-ci ildə əsası qoyulan “NOBEL PRESTİGE” şirkəti olaraq fəaliyyətə başlamışdır. Hazırda
                        2017-ci ildən adı dəyişilərək "AZE TURİZM " şirkəti olaraq fəaliyyətinə davam edir. Azərbaycanda
                        turizmin inkişafına öz töhfəsini vermiş, bu sahədə tanınmış şirkətlərdən birinə çevrilmişdir.
                        Səfərlərin yüksək səviyyədə və büdcənizə uyğun şəkildə təşkil olunması əsas hədəflərimizdəndir.
                        Şirkətin əsas fəaliyyət sahələri: İstirahət, müalicə, biznes, mice turlar və s. daxil olmaqla
                        həm Outgoing (göndərmə), həm də Incoming (gəlmə) turizmi üzrə fəaliyyət göstərir. Outgoing üzrə
                        turirstlərimizin ən çox seçim etdiyi ölkələr sırasına Türkiyə, Dubay, Misir, Monteneqro və
                        Avropa ölkələri - Polşa, Estoniya, Fransa, Almaniya, Latviya, Ruminiya, Özbəkistan,
                        Türkmənistan, Qırğızıstan və s. ölkələrlə əməkdaşlıq edir və ölkəmizə turistlər cəlb
                        edir.</span>
                </div>
            </div>

            <div class="end">
                <span>Azeturizm LLC - 2024 Bütün hüquqlar qorunur.</span>
                <a href="#one">
                    <span>Yuxarı qalxmaq.</span>
                    <i class="fa-solid fa-arrow-up"></i>
                </a>
            </div>
        </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type="module" src="/js/main.js"></script>
</body>

</html>